
<head>
    <link href="~/Content/WholesiteStyles.css" rel="stylesheet" />
    <script src="~/Scripts/CustomScripts/SscoreBoard.js"></script>
</head>

<div id="Start">
    <img style="width:100%;height:100%"src="~/Content/Start_Screen.gif" />
</div>
<div style="display:none;background-color:#dee2e6" id="tabs-Home" class="tabsHome">
    <div>
        <ul>
            <li class="tab  tabsHome tabsHome-Scoreboard"><a href="#tabsHomeScoreboard">Scoreboard</a></li>

            <li class="tab tabsHome tabsHome-Brackets"><a href="#tabsHomeBrackets">Brackets</a></li>
            <li class="tab tabsHome Times"><a href="#tabsHomeTimes">Timed Events</a></li>
            @*<li class="tab tabsHome tabsHome-Brackets"><a href="#Schedule">Schedule</a></li>*@
            <li class="tab tabsHome tabsHome-Brackets"><a href="#Teams">Teams</a></li>
            <li class="tab tabsHome tabsHome-Brackets"><a href="#Rules">Rules & Schedule</a></li>



        </ul>



    </div>
    <div id="tabsHomeBrackets">
        <div class="tabsbracket">
            <ul>
                <li class="tab tabsHome Beer"><a href="#tabsbeerpong">Beer Pong</a></li>
                <li class="tab tabsHome Baseball"><a href="#Baseball">Baseball</a></li>
                <li class="tab tabsHome Civil"><a href="#Civil">Civil War</a></li>
                <li class="tab tabsHome Corn"><a href="#Cornhole">Cornhole</a></li>
                <li class="tab tabsHome Flip"><a href="#Flip">Flip-Cup</a></li>
                <li class="tab tabsHome High"><a href="#High">High-Noon</a></li>
                <li class="tab tabsHome Speed"><a href="#SpeedBall">SpeedBall</a></li>


            </ul>
            <div id="tabsbeerpong">
               

            </div>
            <div id="Baseball">
            
            </div>
            <div id="Civil">
               

            </div>
            <div id="Cornhole">
                

            </div>
            <div id="Flip">
                

            </div>
            <div id="High">
                

            </div>
            <div id="SpeedBall">
              

            </div>

        </div>
    </div>

    <div id="tabsHomeTimes">
        <div class="tabstimes">
            <ul>
                <li class="tab tabsHome Boat"><a href="#Boat">Boat Race</a></li>
                <li class="tab tabsHome Chug"><a href="#Chug">Chugalug</a></li>
                <li class="tab tabsHome Slip"><a href="#Slip">Slip N' Flip</a></li>
                <li class="tab tabsHome Swim"><a href="#Swim">Swim N' Shoot</a></li>
                <li class="tab tabsHome Dizzy"><a href="#Dizzy">Dizzy Bat</a></li>




            </ul>
            <div id="Boat">
                @Html.Action("Boat", "Games")

            </div>
            <div id="Chug">
                @Html.Action("Chug", "Games")
            </div>
            <div id="Slip">
                @Html.Action("Slip", "Games")

            </div>
            <div id="Swim">
                @Html.Action("Swim", "Games")
            </div>
            <div id="Dizzy">
                @Html.Action("Dizzy", "Games")

            </div>

        </div>
    </div>
    <div id="tabsHomeScoreboard">
        @Html.Action("ScoreBoard", "Teams")

    </div>
    <div id="Teams">
        @Html.Action("Create", "Teams")

    </div>
    <div style="height: 600px;" id="Rules">
        @Html.Action("Rules", "Games")

    </div>
   
</div>

<script>
   const rootUrl = '@Url.Content("~/")'
    $(function () {

        $('.tabsHome, .tabsbracket,.tabstimes').tabs();

    })
    window.onbeforeunload = function () { return false; }

    $(".tabsHome-Brackets").one("click", function () {
        var url = rootUrl + "Games/BeerPongBracket"
        $('#tabsbeerpong').load(url);

    });

    $(".Baseball").one("click", function () {
        var url = rootUrl + "Games/BaseballBracket"
        $('#Baseball').load(url);

    });


    $(".Civil").one("click", function () {
        var url = rootUrl + "Games/CivilWarBracket"
        $('#Civil').load(url);

    });
    
      
          
    $(".Corn").one("click", function () {
        var url = rootUrl + "Games/CornholeBracket"
        $('#Cornhole').load(url);

    });

    $(".Flip").one("click", function () {
        var url = rootUrl + "Games/FlipcupBracket"
        $('#Flip').load(url);

    });

    $(".High").one("click", function () {
        var url = rootUrl + "Games/HighnoonBracket"
        $('#High').load(url);

    });
    $(".Speed").one("click", function () {
        var url = rootUrl + "Games/SpeedballBracket"
        $('#SpeedBall').load(url);

    });
    $(".Times").one("click", function () {

        var scripturl = rootUrl + "Scripts/CustomScripts/Boat.js"
        $.getScript(scripturl, function () {


        });
    });
    $(".Chug").one("click", function () {
  
        var scripturl = rootUrl + "Scripts/CustomScripts/Chugalug.js"
        $.getScript(scripturl, function(){


        });
    });
    $(".Swim").one("click", function () {

        var scripturl = rootUrl + "Scripts/CustomScripts/Swim.js"
        $.getScript(scripturl, function () {


        });
    });
    $(".Slip").one("click", function () {

        var scripturl = rootUrl + "Scripts/CustomScripts/Slip.js"
        $.getScript(scripturl, function () {


        });
    });
    $(".Dizzy").one("click", function () {

        var scripturl = rootUrl + "Scripts/CustomScripts/Dizzy.js"
        $.getScript(scripturl, function () {


        });
    });


   
    setTimeout(function ()
    {

        $('#Start').slideUp('slow')
        $('#tabs-Home').slideDown('slow')
        

    },3000)
</script>