@model Beer_Olympics.Game

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Game_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Game_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Game_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Game_Rule_01)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game_Rule_01)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Game_Rule_02)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game_Rule_02)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Game_Rule_03)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game_Rule_03)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Game_Rule_04)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game_Rule_04)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Game_Rule_05)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game_Rule_05)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Game_Rule_06)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game_Rule_06)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Game_Rule_07)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game_Rule_07)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Game_Rule_08)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game_Rule_08)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Game_Rule_09)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game_Rule_09)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Game_Rule_10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game_Rule_10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Game_Rule_11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game_Rule_11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Game_Rule_12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game_Rule_12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Game_Rule_13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game_Rule_13)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Game_Rule_14)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game_Rule_14)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Game_Rule_15)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game_Rule_15)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
